.card{
    width: 200px;
    background-color: rgb(62, 66, 62);
    margin: 50px;
    -webkit-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    border: solid 2px rgb(72,190,25);
    
}

.card img{
    padding: 10px 10px 0px 10px;
} 

a{
    margin: 3px 10px;
    padding: 5px;
    background-color: transparent;
    color: rgb(186, 187, 186);
    
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
    border:none;
    font-size: larger;
    font-weight: 900;
    text-decoration: none;
}

a:hover {
    color: black;
}

