.cart{
    width: 200px;
    background-color: rgb(62, 66, 62);
    margin: 50px;
    -webkit-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.cart img{
    padding: 10px 10px 0px 10px;
} 