.gradiente{
    background: rgb(72,190,25);
    background: linear-gradient(90deg, rgba(72,190,25,1) 0%, rgba(58,144,26,1) 14%, rgba(47,115,25,1) 63%, rgba(26,60,22,1) 100%);
}

/* background: rgb(78,20,224);
background: linear-gradient(90deg, rgba(78,20,224,1) 12%, rgba(85,0,255,1) 32%, rgba(82,0,246,1) 67%, rgba(39,0,118,1) 94%, rgba(26,12,56,1) 100%);
 */

h1 span{
    color: rgb(186, 187, 186);
}

.logo{
    font-size: 30px;
    margin:0 20px;
}
nav{
    height: 64px;
    padding: 8px; 
    -webkit-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
}

.positionNavBar, .postionLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



button{
    margin: 3px 10px;
    padding: 5px;
    background-color: transparent;
    color: rgb(186, 187, 186);
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
    border:none;
    font-size: larger;
    font-weight: 900;
}

button:hover {
    color: black;
}